.title-container {
  padding: 15px;
  display: flex;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: right;
  padding: 15px;
}

.navbar {
  width: 80%;
}
.title-commerce h2 {
  padding: 20px;
  margin-top: 10px;
}
.title-commerce p {
  width: 16%;
  padding: 15px;
}
.title-commerce button {
  padding: 15px;
  width: 200px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.title-commerce {
  background-color: lightgray;
  margin-top: 15px;
}

.color {
  display: flex;
  text-align: center;
  align-content: space-between;
  align-items: center;
  height: 500px;
  margin-top: 30px;
}

.color {
  width: 100%;
  height: 90%;
}
.color > div {
  /* margin: auto; */
  text-align: center;
  margin: auto;
  padding-bottom: 15px;
}
.grey {
  height: 150px;
  width: 250px;
  background-color: lightgray;
}
h1 {
    /* float:left; */
    padding-right: 20px;
}
.one{color: black;}
.part{display: flex;background-color: lightgrey;margin: auto;align-items: center;text-align: center;padding-left: 50px;
    padding-top: 10px;padding-bottom: 10px;

padding-right: 200px;}
.three {width: 200px; margin-left: 100px;background-color: rgb(34, 173, 207);}
.last{display: flex;}
.four{width: 80%;padding-left: 15px; padding-top: 10px;}
.five {padding-top:10px;}