body{
  margin: 0px;
}
h2{
  margin: 0px,0px,20px,0px;
}
.headcontainer{
  margin:0px;
  display:block;
}
.headmenu{
  display:block;
  overflow: hidden;
 
  text-align: right;
  padding: 40px,40px,20px,0px;
  font-family: Arial, Helvetica, sans-serif;
}
.menulinks{
  text-decoration: none;
  padding: 20px;
}
.sitelogo{
  display: block;
  overflow: hidden;
  padding: 0px,0px,20px,60px;
  font-family: Arial, Helvetica, sans-serif;
}
.areadiv{
  position: relative;
  margin: 0px,50px,0px,50px;
  background-color: lightgrey;
  padding: 20px;

}
.bannertoptext{
  width:20%;
  word-wrap: break-word;
}
.bannertopbtn{
  margin-top: 5px;
  padding: 5px;
  border:1px solid #85523e8c;
   border-radius:4px ;
   background: color #f0f0f0; ;
   width: 10%;
   text-align: center;
   box-shadow: 1px,1px,8px,black;

  }
  .gridcontainer{

    display: inline-block;
    text-align: center;
    width: 100%;

  }
  .blockcontainer{
    display: inline-block;
    text-align: center;
    padding: 15px;
  }
  .square{
    background-color: lightgrey;
    height: 150px;
    width: 300px;
    padding: auto;
    margin: auto;
  }
  .textsection{
    text-align: center;
  }
  .textsection p{
   margin: 0px;
  }
  .textsection a{
    margin-top: 20px;

  }
  .suscribe{
    display: flex;
    flex-flow: row wrap;
    background-color: lightgrey;
    margin: 0px,50px,0px,50px;
    height: 85px;
    border-radius: 4px;

  }
  .insub{
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  h2{
    margin: 0px;

  }
  input{
    vertical-align: middle;
    margin: 5px,10px,5px,0px;
    padding: 10px;
    background-color:#fff;
    border: 1px solid #ddd;
  }
  .submit{
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }
  .footer{
    margin:0px 50px 0px 50px;

  }
  .left{
    float:left;
    margin: 0px,0px,30px,0px;
  }
  .right{
    float:right;
    margin: 0px,0px,30px,0px;
  }